*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
/infer-out
.idea/
VidepProject/
video/gradle/
video/gradlew
video/gradlew.bat
gradle/
gradlew
gradlew.bat
